<body>
  <div class="collection-of-collections goog">
      <div class="pane key">
        <div class="legend">
          <strong>Expression</strong>
          <ul class="expression">
            <li>
              <span class="up"></span> Upregulation</li>
            <li>
              <span class="down"></span> Downregulation</li>
            <li>
              <span class="confidence"></span> Low confidence</li>
          </ul>
        </div>
      </div>
      <div class="pane halp">
        <div class="description">
          <h4>* Moderated t-statistic</h4>
          <p class="small">The basic statistic used for significance analysis is the moderated t-statistic, which is computed for each probe and for each contrast. This has the same interpretation as an ordinary t-statistic except that the standard errors have been moderated
            across genes, i.e., shrunk towards a common value, using a simple Bayesian model. This has the effect of borrowing information from the ensemble of genes to aid with inference about each individual gene.
            <br /> The moderated t-statistic (t) is the ratio of the log fold change to its standard error.</p>

          <h4>** p-value</h4>
          <p class="small">The p-value (p-value) is obtained from the moderated t-statistic, usually after adjustment for multiple testing: "fdr" which is Benjamini and Hochberg's method to control the false discovery rate.</p>

          <!--h3>About &amp; Source</h3>
          This link is dead.
          <p>This chart is taken from <a class="ext" target="new" href="http://www.ebi.ac.uk/gxa/experiment/E-MTAB-62">EMTAB-62 experiment</a>.</p-->
        </div>
      </div>
  </div>
</body>
